#search-widget {
  width: 100%;
  height: 71px;
  box-sizing: border-box;
  padding: 10px 36px;

  font-size: 14px;
  line-height: 40px;
  background-color: #d1dac6;
  border: 2px solid #c1ceb0;
}

#search-widget span {
  vertical-align: middle;
 
  font-weight: bold;
  color: #687559;
}

#search-widget select {
  height: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 15px;
  font-weight: bold;

  border: 1px solid #c1ceb0;
  vertical-align: middle;
}

#search-widget input {
  height: 40px;
  width: 76%;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid #c1ceb0;
  border-right: none;
  vertical-align: middle;
}

#search-widget button {
  width: 60px;
  height: 40px;
  box-sizing: border-box;

  border: 1px solid #c1ceb0;
  border-left: none;
  vertical-align: middle;
  background-color: white;
  background-image: url(/static/nagifront/img/musica-searcher.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
}

#dashboard-modify {
  float: right;
  position: relative;
  top: -65px;
  left: 30px;
  color: #b1baa6;
  font-weight: bold;
  font-size: 0.9em;
  font-family: "맑은 고딕";
  cursor: pointer;
}

#dashboard {
  margin: 34px;
  width: 85%;
  margin-top: 46px;
  padding: 36px;

  background-color: #ffffff;
  border: 2px solid #c1ceb0;
}

.widget-row {
  display: flex;
  margin: 10px 0px;
}
.widgets-wrapper {
  display: inline-block;
  position: relative;
  flex: 1;
  margin: 0px 5px;
}
.widget-padding {
  margin: 10px 5%;
  min-height: 200px;
  box-sizing: border-box;
  padding: 40px;
  background-color: silver;
  color: white;
}

.modify .widget-row {
  box-sizing: border-box;
  padding: 20px;
  border: 1px dotted green;
}
.modify .widgets-wrapper {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid gray;
}
.modify .widgets-wrapper .delete-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.modify .widgets-wrapper h3 {
  margin-left: 20px;
}

#widgets-list-wrapper {
  position: fixed;
  top: 70px;
  right: 0px;
  width: 220px;
  height: calc(100vh - 140px - 60px);
  background-color: yellow;
}
#widgets-list-wrapper h3 {
  margin: 0px;
  padding: 5px 20px;
  border: 1px solid blue;
  font-size: 0.9em;

}
#widgets-list-wrapper p {
  margin: 5px 30px;
  font-size: 0.8em;
  color: green;
}
#widgets-list-wrapper div {
  margin: 0px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 160px);
  overflow: hidden;
}
#widgets-list-wrapper ul {
  margin: 0px;
  width: calc(100% + 14px);
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid purple;
  overflow-y: scroll;
}
#widgets-list-wrapper li {
  display: block;
  list-style: none;
  padding: 7px 15px;
  border: 1px solid purple;
  font-size: 0.8em;
}
#widgets-list-wrapper footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: yellowgreen;
}
#widgets-list-wrapper footer #delete-widget {
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
#widgets-list-wrapper footer #delete-widget.enable {
  border: 2px solid green;
}
#widgets-list-wrapper footer span {
  vertical-align: super;
}
#widgets-list-wrapper footer button {
  float: right;
  height: 30px;
  color: white;
  cursor: pointer;
}

