#search-widget {
  width: 100%;
  height: 71px;
  box-sizing: border-box;
  padding: 10px 36px;

  font-size: 14px;
  line-height: 40px;
  background-color: #d1dac6;
  border: 2px solid #c1ceb0;
}

#search-widget span {
  vertical-align: middle;
 
  font-weight: bold;
  color: #687559;
}

#search-widget select {
  height: 40px;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 15px;
  font-weight: bold;

  border: 1px solid #c1ceb0;
  vertical-align: middle;
}

#search-widget input {
  height: 40px;
  width: 76%;
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid #c1ceb0;
  border-right: none;
  vertical-align: middle;
}

#search-widget button {
  width: 60px;
  height: 40px;
  box-sizing: border-box;

  border: 1px solid #c1ceb0;
  border-left: none;
  vertical-align: middle;
  background-color: white;
  background-image: url(/static/nagifront/img/musica-searcher.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
}

#dashboard-modify {
  float: right;
  position: relative;
  top: -65px;
  left: 30px;
  color: #6c795f;
  font-weight: bold;
  font-size: 0.9em;
  font-family: "맑은 고딕";
  cursor: pointer;
}

#dashboard {
  margin: 34px;
  width: 85%;
  margin-top: 46px;
  padding: 36px;

  background-color: #ffffff;
  border: 2px solid #c1ceb0;
}

.widget-row {
  display: flex;
  margin: 10px 0px;
}
.widgets-wrapper {
  display: inline-block;
  position: relative;
  flex: 1;
  margin: 0px 5px;
}
.widget-padding {
  margin: 10px 5%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #d1dac7;
  color:  #d1dac7;
}

.modify .widget-row {
  box-sizing: border-box;
  padding: 20px;
  border: 2px dotted #b7c1a8;
}
.modify .widgets-wrapper {
  box-sizing: border-box;
  height: 250px;
  padding: 5px;
  border: 2px solid #b7c1a8;
}
.modify .widgets-wrapper .delete-button {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 90%;
  height: 90px;
  text-align: center;
  padding: 60px 0px 0px 0px;
  font-size: 0.95em;
  font-weight: bold;
  color: #4e6141;
  cursor: pointer;
  z-index: 1;
}
.modify .widgets-wrapper h3 {
  margin-left: 20px;
}

#widgets-list-wrapper {
  position: fixed;
  top: 70px;
  right: 0px;
  width: 220px;
  height: calc(100vh - 140px - 60px);
  background-color: #b7c1a8;
  border: 1px solid #6f815b;
}
#widgets-list-wrapper h3 {
  margin: 0px;
  padding: 5px 20px;
  border-bottom: 1px solid #6f815b;
  font-size: 0.9em;
  font-weight: bold;
  color: #6c7a60;

}
#widgets-list-wrapper p {
  margin: 5px 30px;
  font-size: 0.8em;
  color: #ecf4df;
}
#widgets-list-wrapper div {
  margin: 0px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 160px);
  overflow: hidden;
}
#widgets-list-wrapper ul {
  margin: 0px;
  width: calc(100% + 14px);
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #9fae91;
  overflow-y: scroll;
}
#widgets-list-wrapper li {
  display: block;
  list-style: none;
  padding: 7px 15px;
  background-color: #e2e5de;
  border: 1px solid #9fae91;
  font-size: 0.8em;
}
#widgets-list-wrapper footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 5px;
  border-top: 1px solid #6f815b;
  background-color: #87937b;
}
#widgets-list-wrapper footer #delete-widget {
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
#widgets-list-wrapper footer #delete-widget.enable {
  border: 2px solid green;
}
#widgets-list-wrapper footer span {
  vertical-align: super;
}
#widgets-list-wrapper footer button {
  float: right;
  width: 50px;
  height: 30px;
  margin-right: 10px;
  background-color: #47654b;
  border: 1px solid #3d5440;
  color: white;
  cursor: pointer;
}

