body {
  margin: 0px;
  height: calc(100vh - 150px);
  background-color: #e7efde;
}

#login-wrapper {
  margin: 0px auto;
  width: 493px;
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#logo h1 {
  margin: 0px;
  font-family: "Arial Black";
  font-weight: bolder;
  font-size: 48px;
  text-shadow: 1px 1px 0px #2f6a5c, 1px -1px 0px #2f6a5c, -1px -1px 0px #2f6a5c, -1px 1px 0px #2f6a5c;
  color: #6f9777;
}

#logo h2 {
  margin: 0px;
  position: relative;
  top: 10px;
  font-family: "맑은 고딕 Bold";
  font-size: 14px;
  text-shadow: none;
  color: #759584;
}

#login-box {
  width: 493px;
  height: 272px;
  box-sizing: border-box;
  padding: 40px 20px;
  
  background-color: #d1dac6;
  border: 2px solid #b5bfa9;
}

.form-element {
  margin-bottom: 28px;
}

.form-element label {
  float: left;
  width: 100px;
  box-sizing: border-box;
  padding: 5px 15px;
  
  line-height: 32px;
  font-family: "Arial Regular";
  font-size: 16px;
  text-align: right;
  color: #5e6753;
}

.form-element input {
  width: 288px;
  height: 46px;
  box-sizing: border-box;
  padding: 12px;

  border: 2px solid #c7c7c7;
  font-family: "맑은 고딕 Regular"
  font-size: 14px;
  color: #0e0e0e;
}

.form-element button {
  margin-left: 100px;
  border: 2px solid #517057;
  width: 288px;
  height: 46px;
  box-sizing: border-box;
  
  background-color: #63886a;
  font-family: "Arial";
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 150px;
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-top: 2px solid #d1dac6;
}
