/* start of host-trend-group css */
div[host-trend-group] .axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}
/* end of host-trend-group css */

/* start of service-number-by-state-chart css */
div[service-number-by-state-chart] .charts {
  box-sizing: border-box;
  width: 550px;
  padding: 10px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
div[service-number-by-state-chart] .groups {
  padding: 10px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #e6ece0;
}
div[service-number-by-state-chart] .groups:nth-child(even){
  background-color: #e6ece0;
}
div[service-number-by-state-chart] .groups .group-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .state {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
  width: 90px;
  height: 25px;
  vertical-align: top;
  text-align: center;
  font-size: 0.95 em;
  color: white;
}
div[service-number-by-state-chart] .groups .Ok {
  background-color: #8dd775;
  border: 1px #6ca65a solid;
}
div[service-number-by-state-chart] .groups .Ok span {
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .Warning {
  background-color: #e1e26a;
  border: 1px #cbcf30 solid;
}
div[service-number-by-state-chart] .groups .Warning span {
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .Critical {
  background-color: #ef6a6a;
  border: 1px #c63e40 solid;
}
div[service-number-by-state-chart] .groups .Critical span {
  font-weight: bold;
}
/* end of service-number-by-state-chart css */

/* start of troule-trend css*/
div[trouble-trend] .charts {
  box-sizing: border-box;
  width: 600px;
  padding: 10px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
/* end of troule-trend css*/

/* start host-state-change widget */
div[host-state-change] {
  width: 400px;
  min-height: 300px;
}
div[host-state-change] h3 {
  margin: 0px;
}
div[host-state-change] .charts {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
div[host-state-change] .state-change-item {
  margin: 10px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #e6ece0;
}
div[host-state-change] .state-change-item .state {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 25px;
  vertical-align: top;
  text-align: center;
  color: white;
}
div[host-state-change] .state-change-item .host-name {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 80px - 130px);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
div[host-state-change] .state-change-item time {
  float: right;
  margin-right: 10px;
  font-size: 0.75em;
}
div[host-state-change] .state-change-item .up {
  background-color: #8dd775;
  border: 1px #6ca65a solid;
}
div[host-state-change] .state-change-item .down {
  background-color: #ef6a6a;
  border: 1px #c63e40 solid;
}
div[host-state-change] .state-change-item .unreachable {
  background-color: #f89c59;
  border: 1px #ce8854 solid;
  font-size: 0.9em;
  letter-spacing: -1px;
}
div[host-state-change] .state-change-item .indeterminate {
  background-color: #868686;
  border: 1px #666666 solid;
  font-size: 0.8em;
  letter-spacing: -1px;
}
/* end host-state-change widget */
