/* start of host-trend-group css */
div[host-trend-group] .axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}
/* end of host-trend-group css */

/* start of service-number-by-state-chart css */
div[service-number-by-state-chart] .charts {
  box-sizing: border-box;
  width: 550px;
  padding: 10px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
div[service-number-by-state-chart] .groups {
  padding: 10px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 2px solid #e6ece0;
}
div[service-number-by-state-chart] .groups:nth-child(even){
  background-color: #e6ece0;
}
div[service-number-by-state-chart] .groups .group-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .state {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
  width: 90px;
  height: 25px;
  vertical-align: top;
  text-align: center;
  font-size: 0.95 em;
  color: white;
}
div[service-number-by-state-chart] .groups .Ok {
  background-color: #8dd775;
  border: 1px #6ca65a solid;
}
div[service-number-by-state-chart] .groups .Ok span {
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .Warning {
  background-color: #e1e26a;
  border: 1px #cbcf30 solid;
}
div[service-number-by-state-chart] .groups .Warning span {
  font-weight: bold;
}
div[service-number-by-state-chart] .groups .Critical {
  background-color: #ef6a6a;
  border: 1px #c63e40 solid;
}
div[service-number-by-state-chart] .groups .Critical span {
  font-weight: bold;
}
/* end of service-number-by-state-chart css */

/* start of troule-trend css*/
div[trouble-trend] .charts {
  box-sizing: border-box;
  width: 600px;
  padding: 10px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
/* end of troule-trend css*/

/* start host-state-change widget */
div[host-state-change] {
  width: 450px;
  min-height: 300px;
}
div[host-state-change] h3 {
  margin: 0px;
}
div[host-state-change] .charts {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
div[host-state-change] .state-change-item {
  position: relative;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #e6ece0;
  border: 1px solid #c7d3bd;
}
div[host-state-change] .state-change-item:last-child {
  margin: 0px;
}
div[host-state-change] .state-change-item .state {
  display: inline-block;
  margin-right: 10px;
  width: 70px;
  height: 25px;
  vertical-align: top;
  text-align: center;
  color: white;
}
div[host-state-change] .state-change-item .host-name {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 80px - 130px);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  vertical-align: middle;
}
div[host-state-change] .state-change-item time {
  float: right;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.75em;
  line-height: 25px;
  color: #626d4f;
  vertical-align: middle;
}
div[host-state-change] .state-change-item .output {
  position: absolute;
  top: -15px;
  height: calc(15px + 45px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  opacity: 0;
}
div[host-state-change] .state-change-item .output span {
  position: relative;
  padding: 5px;
  font-size: 0.75em;
  white-space: nowrap;
  background-color: white;
  border: 1.5px solid #8d9a7b;
}
div[host-state-change] .state-change-item .output:hover {
  opacity: 1;
}
div[host-state-change] .state-change-item .up {
  background-color: #8dd775;
  border: 1px #6ca65a solid;
}
div[host-state-change] .state-change-item .down {
  background-color: #ef6a6a;
  border: 1px #c63e40 solid;
}
div[host-state-change] .state-change-item .unreachable {
  background-color: #f89c59;
  border: 1px #ce8854 solid;
  font-size: 0.9em;
  letter-spacing: -1px;
}
div[host-state-change] .state-change-item .indeterminate {
  background-color: #868686;
  border: 1px #666666 solid;
  font-size: 0.8em;
  letter-spacing: -1px;
}
/* end host-state-change widget */

/* start of trouble-host widget */
div[trouble-host] {
  width: 450px;
  min-height: 300px;
}
div[trouble-host] h3 {
  margin: 0px;
}
div[trouble-host] .charts {
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
div[trouble-host] .trouble-item {
  position: relative;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #e6ece0;
  border: 1px solid #c7d3bd;
}
div[trouble-host] .trouble-item:last-child {
  margin: 0px;
}
div[trouble-host] .trouble-item .state {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 25px;
  vertical-align: top;
  text-align: center;
  color: white;
}
div[trouble-host] .trouble-item .trouble-name {
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 40px - 140px);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  vertical-align: middle;
}
div[trouble-host] .trouble-item time {
  float: right;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.75em;
  line-height: 25px;
  color: #626d4f;
  vertical-align: middle;
}
div[trouble-host] .trouble-item .output {
  position: absolute;
  top: -15px;
  height: calc(15px + 45px);
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  opacity: 0;
}
div[trouble-host] .trouble-item .output span {
  padding: 5px;
  font-size: 0.75em;
  white-space: nowrap;
  background-color: white;
  border: 1.5px solid #8d9a7b;
}
div[trouble-host] .trouble-item .output:hover {
  opacity: 1;
}
div[trouble-host] .trouble-item .ok {
  background-color: #8dd775;
  border: 1px #6ca65a solid;
}
div[trouble-host] .trouble-item .critical {
  background-color: #ef6a6a;
  border: 1px #c63e40 solid;
}
div[trouble-host] .trouble-item .warning {
  background-color: #f1f45a;
  border: 1px #cbcf30 solid;
}
div[trouble-host] .trouble-item .unknown {
  background-color: #868686;
  border: 1px #666666 solid;
}
/* end of trouble-host widget */

/* start of map widget */
div[map] {
  position: relative;
}
div[map] h3 {
  margin: 0px;
}
div[map] .charts {
  width: 400px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
div[map] .map-wrapper {
  height: 400px;
  overflow: scroll;
}
div[map] .tooltip {
  display: none;
  position: absolute;
  top: 90px;
  left: 20px;
  padding: 10px;
  background-color: #e6ece0;
  border: 1px solid #c7d3bd;
}
div[map] .tooltip h4 {
  margin: 0px;
}
div[map] .tooltip table {
  font-size: 0.75em;
}
div[map] .tooltip th {
  text-align: left;
}
div[map] .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-width: 10px;
  border-style: solid;
  border-color: #e6ece0 transparent transparent transparent;
}
/* end of map widget */
