{% extends 'nagifront/layout.html' %}

{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" text="text/css" href="{% static "nagifront/css/dashboard.css"%}">
{% endblock %}

{% block main %}
<main ng-controller="dashboard">
  <section id="search-widget">
    <span>상세 검색</span>
    <select>
      <option>Host</option>
      <option>Host Group</option>
    </select>
    <input><!--
    --><button></button>
  </section>
  <section id="dashboard">
    <div class="widgets" overall-host></div>
    <div class="widgets" host-status host_group_id="189"></div>
    <div class="widgets" service-number-by-state></div>
    <div class="widgets" service-number-by-state-chart></div>
    <div class="widgets" check-schedules></div>
  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'nagifront/js/dashboard.js' %}"></script>
{% endblock %}
