{% extends 'nagifront/layout.html' %}

{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" text="text/css" href="{% static "nagifront/css/setting.css"%}">
{% endblock %}

{% block main %}
<main ng-controller="setting">
  <div class="block">
    <h3> 비밀번호 변경</h3>
    <div class="innerbox">
      <div class="content">
       <div class="line"><span> 현재 비밀번호</span><input class="pw"><label></input></div>
       <div class="line"><span> 새 비밀번호</span><input class="pw"><label></input></div>
       <div class="line"><span> 새 비밀번호 확인</span><input class="pw"><label></input></div>
       <button>변경</button>
      </div>
    </div>
  </div>
  <div class="block">
    <h3> Contact 정보 변경</h3>
    <div class="innerbox">
    <table class="content">
      <tr>
        <th>
          Alias
        </th>
        <th>
          Email
        </th>
      </tr>
        <td>
          <input class="alias"></input>
        </td>
        <td>
          <input class="address"></input>
        </td>
      </tr>
    </table>
    <button>변경</button>
    </div>
  </div>
  <div class="block">
    <h3> 알림 설정</h3>
    <div class="innerbox">
      <h5> 선택한 상태 변화에 대해서 알림을 받습니다</h5>
      <div class= "host_notification">
        <h4>호스트 알림 설정</h4>
        <div class="box">
          <div class="row"><label><input type="checkbox"><span></span>Up</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Down</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Unreachable</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Flapping</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Scheduled downtime</label></div>
        </div>
      </div>
      <div class= "service_notification">
        <h4>서비스 알림 설정</h4>
        <div class="box">
          <div class="row"><label><input type="checkbox"><span></span>Warning</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Unknown</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Critical</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Recover</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Flapping</label></div>
          <div class="row"><label><input type="checkbox"><span></span>Scheduled downtime</label></div>
        </div>
      </div>
       <button>저장</button>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'nagifront/js/setting.js' %}"></script>
{% endblock %}
