{% extends 'nagifront/layout.html' %}

{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" text="text/css" href="{% static "nagifront/css/system.css"%}">
{% endblock %}

{% block main %}
<main ng-controller="system">
  <section id="option-bar">
    <span>타입</span>
    <span>{{ divisions }}</span>
    {% verbatim %}
    <span dynamic-select alias="category" lists="{{ categories }}"></span>
    <span dynamic-select alias="division" lists="{{ divisions }}"></span>
    <span dynamic-select alias="section" lists="{{ sections }}"></span>
    <button ng-click="show()">Update</button>
    {% endverbatim %}
  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'nagifront/js/system.js' %}"></script>
{% endblock %}
